body {
  background-color: #632b74;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.container-style {
  background-color: #FFF;
  padding: 3px 12px;
  border: solid 2px rgb(88, 43, 99);

  margin-bottom: 36px;
  width: 600px;
  box-shadow: 2px 2px 0px #FFF,   9px 9px 0px  #FFBA42;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

#artigo-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#artigo-admin:hover {
  background-color: #cccccc;
}

.botao {
  padding: 5px;
  background-color: rgb(211, 9, 69);
  color: #ffffff;
  font-weight: bold;
  border: solid 1px #FFFFFF;
  border-radius: 3px;
  box-shadow: 3px 3px 0px #632b74;
}

button:hover {
  transform: scale(9px);
  transition: transform 0.3s linear;
}

.campo-form {
  margin: 10px 0;
  display: block;
}

.botao-block {
  display: block;
  width: 90px;
  
}

.text-titleName {
  height: 60px;
}

.text-mainTitle_index {
  background-color: #FFBA42;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgb(88, 43, 99);
  width: fit-content;
}

.text-link {
  background-color:rgb(211, 9, 69);
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgb(88, 43, 99);
  width: 30px;
}